* {
  box-sizing: border-box;
  margin: 0 auto;
}

html,
body {
  padding: 0;
  background-color: #5f9f9f;
  font-family: "Inter", sans-serif;
  width: 100%;
}

a {
  text-decoration: unset;
  color: unset;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: black;
  text-align: left;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}
header .Hii-user {
  color: rgb(255, 255, 255);
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
}
header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

main {
  margin-bottom: 84px;
}

footer {
  background-color: #161616;
  color: #ffffff;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
  width: 100%;
  font-size: 30px;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.back-button {
  display: block;
  color: black;
  text-decoration: none;
  margin-left: 26px;
}

.back-button span:hover {
  text-decoration: underline;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

.loginAndRegisterNavBar {
  font-size: 25px;
}

.site-logo{
  font-size: 30px;
}

/*** HOME PAGE ***/
.home-welcome-txt {
  text-align: center;
  color: #161616;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), url("./images/xXMabYYezGITsPPA8PduAZXEmXvz0Xr71FEQGqy4.png") no-repeat center center;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px 10px 10px 10px;
  min-height: 600px;
}

.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), url("./images/xXMabYYezGITsPPA8PduAZXEmXvz0Xr71FEQGqy4.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  color: white;
  padding: 45px 23px;
  margin: 0;
  opacity: 70;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #161616;
  border: none;
  width: 100%;
  margin-top: 27px;
  padding-block: .75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

/*** LOGIN PAGE ***/
.loginDiv {
  text-align: center;
}

.loginForm,
input {
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
}

/*** REGISTER PAGE ***/
.registerDiv {
  text-align: center;
}

.registerForm,
input {
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
}

/*** ABOUT PAGE ***/
.about-hero-image {
  max-width: 100%;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #FFCC8D;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}